.container{
  margin: 0 150px;
  
}

.title{
  margin-top: 65px ;
  font-size: 32px;

}

.search{
  font-size: 16px;
  margin: 16px 0;
}

.search > p{
  margin-bottom: 16px;
}

.search > div{
  position: relative;
}

/* .icon_search{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
} */

#searchCountry{
  min-width: 650px;
  height: 45px;
}

.navi{
  color: #BDBDBD;
  font-size: 14px;
  cursor: pointer;
  padding: 0 1px;
}

.navi:hover{
  color:#333333;
}

.arrowRotate, .arrow{
  cursor: pointer;
}

.arrowRotate{
transform: rotate(180deg);
  

}

.link{
  font-size: 14px;
  text-decoration: none;
  list-style: none;
}

.link:hover{
  color: #F2994A;
}

.linkActive{
  color: #333333;
}

.country_list{
  height: 200px;
  max-width: 660px;
  overflow-y: auto;

}
